In [1]:
import os
import sys
import pandas as pd
import yaml 
from matplotlib import pyplot as plt
from matplotlib import ticker as mticker
from matplotlib import colors as mcolors
from matplotlib import patches as mpatches
import statsmodels.api as sm
import numpy as np
from itertools import product
import subprocess
import networkx as nx


with open("../../config.yaml.local", "r") as f:
    LOCAL_CONFIG = yaml.safe_load(f)
with open("../../config.yaml", "r") as f:
    CONFIG = yaml.safe_load(f)
sys.path.append("../python")

import globals
import data_tools as dt
import utils

LOCAL_PATH = LOCAL_CONFIG["LOCAL_PATH"]
RAW_DATA_PATH = LOCAL_CONFIG["RAW_DATA_PATH"]
DATA_PATH = LOCAL_CONFIG["DATA_PATH"]
R_PATH = LOCAL_CONFIG["R_PATH"]

RUN_R_SCRIPTS = False
OVERWRITE = False

In [5]:
df = pd.read_parquet(os.path.join(RAW_DATA_PATH, "wallet.parquet"))

df

,id,created_at,updated_at,priority,userId,templateName
0,1,2025-07-16 11:31:13.754,2025-07-16 11:31:13.754,0,6421,LNBITS
1,2,2025-07-16 11:31:13.754,2025-07-16 11:31:13.754,0,24651,LNBITS
2,3,2025-07-16 11:31:13.754,2025-07-16 11:31:13.754,0,23883,LNBITS
3,4,2025-07-16 11:31:13.754,2025-07-16 11:31:13.754,0,17025,LNBITS
4,5,2025-07-16 11:31:13.754,2025-07-16 11:31:13.754,0,25684,LNBITS
...,...,...,...,...,...,...
2604,2807,2025-09-23 14:21:06.029,2025-09-23 14:21:06.029,0,5764,WALLET_OF_SATOSHI
2605,2808,2025-09-23 15:25:13.450,2025-09-23 15:25:13.450,0,24362,STRIKE
2606,2810,2025-09-23 21:33:05.645,2025-09-23 21:35:05.423,1,8242,LND
2607,2811,2025-09-23 21:34:27.692,2025-09-23 21:35:05.423,2,8242,ALBY
2608,2667,2025-09-05 16:18:08.284,2025-10-02 18:14:32.951,2,29204,LN_ADDR

In [6]:
df['templateName'].value_counts()

templateName
WALLET_OF_SATOSHI    502
ALBY                 469
LN_ADDR              364
COINOS               265
SPEED                164
BLINK                157
NWC                  131
ZBD                  109
PRIMAL                88
STRIKE                86
MINIBITS              44
LNBITS                35
PHOENIXD              33
NPUB_CASH             28
ZEUS                  25
RIZFUL                25
FOUNTAIN              22
VOLTAGE               11
CASH_APP              10
SHOCKWALLET            9
LIFPAY                 8
LND                    7
CASHU_ME               6
BLIXT                  5
BLITZ                  3
CLN                    3
Name: count, dtype: int64