In [1]:
import os
import sys
import pandas as pd
import yaml 
from matplotlib import pyplot as plt
from matplotlib import ticker as mticker
from matplotlib import colors as mcolors
from matplotlib import patches as mpatches
import statsmodels.api as sm
import numpy as np
from itertools import product
import subprocess
import networkx as nx

with open("../../config.yaml.local", "r") as f:
    LOCAL_CONFIG = yaml.safe_load(f)
#with open("../../config.yaml", "r") as f:
#    CONFIG = yaml.safe_load(f)
sys.path.append("../python")

import globals
import data_tools as dt

LOCAL_PATH = LOCAL_CONFIG["LOCAL_PATH"]
RAW_DATA_PATH = LOCAL_CONFIG["RAW_DATA_PATH"]
DATA_PATH = LOCAL_CONFIG["DATA_PATH"]
R_PATH = LOCAL_CONFIG["R_PATH"]

RUN_R_SCRIPTS = False
OVERWRITE = False

In [2]:
df = dt.get_users()

In [3]:
df

,userId,first_item_date,n_posts,n_comments,first_autowithdraw_date,first_p2p_zap_date
0,9,2023-08-14 11:55:32.954000+00:00,69,0,NaT,NaT
1,27,2023-08-12 15:02:57.698000+00:00,231,4133,NaT,2024-07-01 20:57:11.909
2,616,2021-06-11 19:26:02.662000+00:00,4205,19269,2024-09-02 18:34:05.208,2024-09-02 18:34:51.246
3,618,2021-06-11 20:13:31.014000+00:00,23,13,NaT,NaT
4,622,2021-06-12 02:45:39.945000+00:00,0,2,NaT,NaT
...,...,...,...,...,...,...
11223,30749,2025-10-04 08:45:53.614000+00:00,3,0,NaT,NaT
11224,30754,2025-10-05 01:35:49.816000+00:00,1,0,2025-10-05 01:39:41.305,NaT
11225,30755,2025-10-05 04:41:14.937000+00:00,1,0,2025-10-05 05:04:02.597,NaT
11226,30758,2025-10-05 19:40:15.824000+00:00,1,0,NaT,NaT
11227,30759,2025-10-05 16:45:44.275000+00:00,1,0,NaT,NaT